<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="elnurainc.Listeners"/>
<listener class-name="resources.ExtentReporterNG"/>
</listeners>
	<test thread-count="5" name="Validating Login link">
		<classes>
			<class name="elnurainc.HomePage" />
		</classes>
	</test>
	<test thread-count="5" name="Validating Navigation bar">
		<classes>
			<class name="elnurainc.ValidateNavigation" />
		</classes>
	</test>
	<test thread-count="5" name="Validating title on the page">
		<classes>
			<class name="elnurainc.ValidateTitle" />
		</classes>
	</test> 
</suite> 
